<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IDC IDEAS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">

    <style>

    </style>
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery.js"></s' + 'cript>')</script>
<script src="/static/javascripts/bootstrap.js"></script>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src='/static/images/logo.png' class="logo" alt="IDC Idas"/>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">IDC Ideas!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Ideas <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/problemChamber">Problems <span class="sr-only">(current)</span></a></li>
                <li class=""><a href="/profile">My Profile <span class="sr-only">(current)</span></a></li>
                <li class=""><a href="/messages">Messages <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" id="notifications-header">Notification</a>
                    <ul class="dropdown-menu notify-drop">
                        <!-- notify content -->
                        <div class="drop-content" id="notification-panel">
                        </div>
                        <div class="notify-drop-footer text-center">
                        </div>
                    </ul>
                </li>
                <li class="active"><a href="/users/logout">Logout <span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- problem details -->
<div class="container">
    <div class="row">
        <div class="col-sm-4" id="problemDescription">
            <h3>Problem Description:</h3>
            <h4><%= problem.description %></h4>
        </div>
        <div class="col-sm-4" id="problemStatusBody">
            <h3>Problem Status:</h3>
            <h4><%= problem.status %></h4>
        </div>
        <div class="col-sm-2">
            <h4>Author:</h4>
            <h5><a href="/profile/<%= problem.authorId %>"><%= problem.authorName %></a></h5>
        </div>
        <div class="col-sm-2">
            <h4>Created at:</h4>
            <h5><%= problem.sendTime %></h5>
        </div>
    </div>
</div>

<br>
<hr>
<br>

<!-- ideas table -->
<div class="container">

    <div class="userMessage"></div>
    <div class="stories">
        <h3>Proposed Ideas:</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="id-column">#</th>
                <th>IDEAS</th>
                <th>AUTHOR</th>
                <% if (problem.status == "OPEN") { %>
                <th class="operation-column">SOLVE</th>
                <% } %>
            </tr>
            </thead>
            <tbody id="proposedIdeasTableBody">
            </tbody>
        </table>
        <button class="btn btn-primary btn-lg" id="proposeIdeaButton" onclick="OnClickProposeIdeaButton()"><span
                class="glyphicon glyphicon-plus" aria-hidden="true"></span> Propose an Idea
        </button>
    </div>

</div> <!-- /container -->

<div class="modal fade" id="proposeIdeaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="proposeIdeaModalLabel">Add a new idea:</h4>
            </div>
            <div class="modal-body">
                <form action="javascript:submitProposeIdeaForm();">
                    <div class='form-group'>
                        <label>Story:</label>
                        <input class='form-control' type="text" name="idea" id="idea" required>
                    </div>
                    <input type="hidden" name="ideaId" id="ideaId">
                    <div class='form-group'>
                        <input class='btn btn-success' type="submit" value="Submit"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    let isMyProblem = <%= problem.is_mine %>;
    let problemOpen = <%= problem.status == "OPEN" %>;
    let chosenSolution = <%= problem.chosenIdea %>;
</script>
<script src="/static/javascripts/problemPageLoader.js"></script>
<script src="/static/javascripts/common.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
